# Gradle
.gradle
build/
out

# maven
dependency-reduced-pom.xml
target

# Ignore Gradle GUI config
gradle-app.setting

# Vscode
.vscode

# Eclipse
.classpath
.settings
.project
bin/


# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Misc
*.
*.lck

# binarys
*.class

# logs
*.log
